server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: auth-service
  mongodb:
    uri: ${SPRING_MONGODB_URI:mongodb://admin:password123@localhost:27017/authdb?authSource=admin}

management:
  endpoints:
    web:
      exposure:
        include: health,info
